<template>
  <div class="container">
    <div class="catalog_wrapper">
      <div class="catalog_title">
        <h1 class="section_title">{{ query_menu.name | title }}</h1>
      </div>
      <div class="products_wrapper">
        <div v-for="product in query_array" :key="product._id">
          <LayoutsCard :value="product" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      query_array: [],
      query_menu: {},
    };
  },
  computed: {
    ...mapGetters(["listProduct", "listCategory"]),
  },
  methods: {
    ...mapActions(["fetchProductList", "fetchCategoryList"]),
    async FetchData() {
      try {
        await this.fetchProductList();
        await this.fetchCategoryList();
      } catch (error) {
        console.error(error);
      }
    },
  },
  async mounted() {
    await this.FetchData();
    if (this.listCategory) {
      this.query_menu = this.listCategory.find(
        (item) => item._id == this.$route.params.id
      );
      if (this.query_menu._id && this.listProduct) {
        this.query_array = this.listProduct.filter(
          (item) => item.category._id === this.query_menu._id
        );
      }
    } else {
      return;
    }
  },
};
</script>

<style lang="scss">
@import "~/assets/styles/components/_mixins.scss";
@import "~/assets/styles/components/_vars.scss";

.products_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 40px;

  @include xxl {
    gap: 50px 20px;
  }
}
</style>
