<template>
  <div class="container">
    <div class="catalog-wrapper">
      <div class="left">
        <h1 class="section_title">{{ $t("Catalog") }}</h1>
        <h6 class="filter_title">{{ $t("Filter") }}</h6>
        <div class="filter_block">
          <div class="filter_top" @click="filter_brend = !filter_brend">
            <h5>{{ $t("Brend") }}</h5>
            <i
              class="icon-chevron"
              :style="{
                transform: filter_brend ? 'rotate(180deg)' : 'rotate(0deg)',
              }"
            ></i>
          </div>
          <div class="atribut" v-if="filter_brend">
            <form action="#">
              <p
                v-for="(category, idx) in listCategory"
                :key="category._id"
                @click="activeMenu = category._id"
              >
                <input
                  type="radio"
                  :id="category._id"
                  name="category"
                  :checked="activeMenu == category._id && activeMenu !== null"
                />
                <label @click="filter(category._id)" for="test1">{{
                  category.name | title
                }}</label>
              </p>
            </form>
          </div>
        </div>
        <!--  -->
      </div>
      <div class="right">
        <!-- <div class="filter_resault" v-if="inputData.length">
          <div class="result">
            <div class="item" v-for="(item, idx) in inputData" :key="idx">
              <span>{{ item }}</span>
              <i class="icon-dinkrement" @click="deleteItem(idx)"></i>
            </div>
          </div>
        </div> -->
        <!-- <div class="filter_button">
          <span>Сортировать </span> <i class="icon-filter"></i>
        </div> -->
        <div class="contend">
          <LayoutsCard
            v-for="product in cutProductArray"
            :key="product._id"
            :value="product"
          />
        </div>
        <div class="paginations">
          <button
            class="btn_pagination"
            v-for="(item, idx) in ceil"
            :key="idx"
            @click="activePagination(item)"
          >
            {{ item }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
// import product_array from "../../frags/productMin.js";
// import catalogArr from "../../frags/catalogArr.js";
export default {
  data() {
    return {
      // products: product_array,
      // catalogArr: catalogArr,
      activeMenu: null,
      price_model: 10,
      filter_price: true,
      filter_brend: true,
      inputData: [],
      pagination: {
        limit: 6,
        page: 1,
      },
    };
  },
  computed: {
    ...mapGetters(["listProduct", "listCategory"]),

    offset() {
      this.pagination.page = this.$route.query.page || 1;
      return (this.pagination.page - 1) * this.pagination.limit;
    },
    cutProductArray() {
      return this.query_array.slice(this.offset, this.offset + this.pagination.limit);
    },
    ceil() {
      return Math.ceil(this.query_array.length / this.pagination.limit);
    },

    query_array() {
      return this.activeMenu == null
        ? this.listProduct
        : this.listProduct.filter((item) => item.category._id === this.activeMenu);
    },
  },
  methods: {
    ...mapActions(["fetchProductList", "fetchCategoryList"]),
    activePagination(item) {
      this.$router.push({
        path: `/catalog`,
        query: {
          page: item,
        },
      });
      this.pagination.page = item;
    },
    filter(id) {
      this.activeMenu == id ? (this.activeMenu = null) : (this.activeMenu = id);
    },
    async FetchData() {
      try {
        await this.fetchProductList();
        await this.fetchCategoryList();
      } catch (error) {
        console.error(error);
      }
    },
  },
  async mounted() {
    await this.FetchData();
  },
};
</script>

<style lang="scss">
@import "../../assets/styles/catalog.scss";
</style>
