<template>
  <div class="burger-btn">
    <svg viewBox="0 0 42 35" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M0 2.91667C0 2.14312 0.31607 1.40125 0.87868 0.854272C1.44129 0.307291 2.20435 0 3 0H39C39.7956 0 40.5587 0.307291 41.1213 0.854272C41.6839 1.40125 42 2.14312 42 2.91667C42 3.69021 41.6839 4.43208 41.1213 4.97906C40.5587 5.52604 39.7956 5.83333 39 5.83333H3C2.20435 5.83333 1.44129 5.52604 0.87868 4.97906C0.31607 4.43208 0 3.69021 0 2.91667Z"
        fill="#3FC2CD" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M0 17.4992C0 16.7256 0.31607 15.9838 0.87868 15.4368C1.44129 14.8898 2.20435 14.5825 3 14.5825H39C39.7956 14.5825 40.5587 14.8898 41.1213 15.4368C41.6839 15.9838 42 16.7256 42 17.4992C42 18.2727 41.6839 19.0146 41.1213 19.5616C40.5587 20.1086 39.7956 20.4159 39 20.4159H3C2.20435 20.4159 1.44129 20.1086 0.87868 19.5616C0.31607 19.0146 0 18.2727 0 17.4992Z"
        fill="#3FC2CD" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M0 32.0827C0 31.3091 0.31607 30.5673 0.87868 30.0203C1.44129 29.4733 2.20435 29.166 3 29.166H39C39.7956 29.166 40.5587 29.4733 41.1213 30.0203C41.6839 30.5673 42 31.3091 42 32.0827C42 32.8562 41.6839 33.5981 41.1213 34.1451C40.5587 34.6921 39.7956 34.9993 39 34.9993H3C2.20435 34.9993 1.44129 34.6921 0.87868 34.1451C0.31607 33.5981 0 32.8562 0 32.0827Z"
        fill="#3FC2CD" />
    </svg>

  </div>
</template>

<script>
export default {
  props: {
    is_active: Boolean
  }
};
</script>

<style scoped>
/* .burger-btn{
	margin-left: auto;
}

svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
  cursor: pointer;
}

svg path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

svg + svg {
  margin-left: 1.5rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#top,
#bottom {
  stroke-dasharray: 30, 75.39;
  transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
}

svg.active #top,
svg.active #bottom {
  stroke-dasharray: 75.39;
  stroke-dashoffset: -60;
}

svg:nth-child(2) {
  transform: rotate(0deg);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

svg:nth-child(2) path {
  transition: all 0.4s ease-in-out 0.6s;
}

svg:nth-child(2).active {
  transform: rotate(180deg);
}

.rocket #top {
  stroke-dasharray: 30, 88;
} */
</style>
