<template>
  <div class="swiper_wrapper">
    <client-only>
      <swiper :options="swiperOptions">
        <swiper-slide>
          <div class="slider_banner">
            <div class="bannet_title">
              <h1>FITLAND 07</h1>
              <span>Та самая беговая дорожка снова в наличии</span>

              <nuxt-link :to="localePath(`/`)">
                <span class="banner_btn">Перейти каталог</span>
              </nuxt-link>
            </div>
            <div class="banner_img">
              <img src="@/assets/images/advertising banners/3.png" alt="" />
            </div>
          </div>
        </swiper-slide>
        <!--  -->
        <swiper-slide>
          <div class="slider_banner">
            <div class="bannet_title">
              <h1>FITLAND 07</h1>
              <span>Та самая беговая дорожка снова в наличии</span>

              <nuxt-link :to="localePath(`/`)">
                <span class="banner_btn">Перейти каталог</span>
              </nuxt-link>
            </div>
            <div class="banner_img">
              <img src="@/assets/images/advertising banners/3.png" alt="" />
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="slider_banner">
            <div class="bannet_title">
              <h1>FITLAND 07</h1>
              <span>Та самая беговая дорожка снова в наличии</span>
              <nuxt-link :to="localePath(`/`)">
                <span class="banner_btn">Перейти каталог</span>
              </nuxt-link>
            </div>
            <div class="banner_img">
              <img src="@/assets/images/advertising banners/3.png" alt="" />
            </div>
          </div>
        </swiper-slide>
        <!--  -->
        <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div>
      </swiper>
    </client-only>
    <div class="swiper_pagination">
      <div class="swiper-pagination"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      swiperOptions: {
        slidesPerView: 1,
        // loop: true,
        loopFillGroupWithBlank: true,
        // autoplay: {
        //   delay: 3000,
        // },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
    };
  },
};
</script>

<style lang="scss">
@import "../assets/styles/components/_mixins.scss";
@import "../assets/styles/components/_vars.scss";

.swiper_wrapper .swiper-button-prev::after,
.swiper_wrapper .swiper-button-next::after {
  font-size: 24px;
  padding-top: 0px;
  padding-left: 0px;
}

.swiper_wrapper {
  border-radius: 70px;
  padding: 30px;
  background: #2f7fc5;
  margin-bottom: 100px;

  @include xl {
    margin-bottom: 50px;
  }

  @include xl {
    border-radius: 0px;
    padding: 15px 0;
    padding-bottom: 30px;
  }

  @include sm {
    margin-bottom: 50px;
    padding: 15px 0;

  }

  .slider_banner {  
    display: flex;
    justify-content: space-between;

    @include xl {
      padding: 30px;
    }

    @include sm {
      padding: 10px;
      flex-direction: column;
      align-items: center;
    }

    .bannet_title {
      margin-left: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      width: 330px;

      @include xl {
        margin-left: 0px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @include sm {
        width: auto;
        align-items: center;
        margin-bottom: 20px;
      }

      h1 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 15px;

        @include xl {
          font-size: 30px;
        }
        @include sm{
          font-size: 26px;
          margin-bottom: 5px;
        }
      }

      span {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 20px;

        @include xl {
          font-size: 14px;
        }

        @include sm{
          margin-bottom: 10px;
        }
      }
    }

    .banner_btn {
      width: 237px;
      font-size: 20px;
      color: #fff;
      background: #ef810c;
      border-radius: 20px;
      padding: 20px 30px;
      margin-top: 20px;
      display: inline-block;

      @include xl {
        width: auto;
        font-size: 16px;
        padding: 10px 20px;
        margin: 0px;

      }
      @include sm{
        font-size: 14px;
        padding: 4px 12px;
      }
    }

    .banner_img {
      height: 450px;

      @include xl {
        margin-right: 0px;
        height: 240px;
      }

      @include sm{
        height: 220px;
      }

      img {
        height: 100%;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #2f7fc5;

    &::after {
      font-size: 24px;
    }

    @include xl {
      display: none;
    }
  }

  span.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: #3fc2cd;
    border-radius: 50%;
    margin: 0 5px;

    @include lg {
      width: 10px;
      height: 10px;
      margin: 0 2px;
    }
  }

  .swiper_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
</style>