<template>
  <div class="container">
    <div class="product_info" v-if="detailProduct">
      <div class="images">
        <div class="activeImg" @click="openImageModal = !openImageModal">
          <img :src="detailImg[activeImage]" alt="" />
        </div>
        <div class="image_wrapper" v-if="detailImg.length > 0">
          <client-only>
            <swiper :options="swiperImagesID">
              <swiper-slide v-for="(image, idx) in detailImg" :key="idx">
                <div
                  class="image"
                  @click="activeImage = idx"
                  :class="{ active: activeImage == idx }"
                >
                  <img :src="image" alt="" />
                </div>
              </swiper-slide>
            </swiper>
          </client-only>
          <!-- <div
            class="image"
            v-for="(image, idx) in products.images"
            :key="idx"
            @click="activeImage = idx"
            :class="{ active: activeImage === idx }"
          >
            <img :src="image" alt="" />
          </div> -->
        </div>
        <div class="images_modal" v-show="openImageModal" @click="openImageModal = false">
          <client-only>
            <swiper class="imageWrapper" :options="swiperModalImages">
              <swiper-slide
                class="imageModal"
                v-for="(image, idx) in detailImg"
                :key="idx"
                @click.stop
              >
                <img @click.stop :src="image" alt="" />
                <!-- <i class="icon-dinkrement" @click="openImageModal = false"></i> -->
              </swiper-slide>
              <div class="swiper-button-prev" @click.stop slot="button-prev"></div>
              <div class="swiper-button-next" @click.stop slot="button-next"></div>
            </swiper>
          </client-only>
          <!-- <div class="swiper_pagination">
            <div class="swiper-pagination"></div>
          </div> -->
        </div>
      </div>
      <div class="info">
        <!-- <h1 class="produc_title">{{ detailProduct && detailProduct.name | title }}</h1> -->
        <div class="produc_price">
          <span class="newPrice">{{ detailProduct.current_price }}</span>
          <div class="oldPrice">{{ detailProduct.price }}</div>
        </div>
        <div class="product_characteristics">
          <div
            class="item"
            v-for="(item, idx) in detailProduct.specifications"
            :key="idx"
          >
            <!-- <span class="name">{{ item && item.name | title }}</span> -->
            <span class="atribute">{{ item.value }}</span>
          </div>
        </div>
        <div class="description">
          <h1 class="subtitle">{{ $t("Description") }}</h1>
          <p>{{ detailProduct && detailProduct.description | title }}</p>
        </div>
      </div>
    </div>
    <div class="similar_products">
      <h1 class="section_title">{{ $t("Similar_products") }}</h1>
      <div class="product_wrapper">
        <client-only>
          <swiper :options="swiperSimilarProducts">
            <swiper-slide v-for="(product, idx) in query_array" :key="idx">
              <LayoutsCard :value="product" />
            </swiper-slide>
          </swiper>
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      detailImg: [],
      query_array: [],
      activeImage: 0,
      productPurchasedNumber: 1,
      openImageModal: false,
      swiperModalImages: {
        // // loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
      swiperImagesID: {
        slidesPerView: 3.2,
        loopFillGroupWithBlank: true,
        spaceBetween: 20,
      },
      swiperSimilarProducts: {
        // slidesPerView: 4.2,
        // // loop: true,
        // loopFillGroupWithBlank: true,
        // spaceBetween: 20,
        // breakpoints: {
        //   // when window width is >= 0px
        //   0: {
        //     slidesPerView: 1.2,
        //     spaceBetween: 50,
        //   },
        //   // when window width is >= 320px
        //   320: {
        //     slidesPerView: 2,
        //     spaceBetween: 10,
        //   },
        //   // when window width is >= 480px
        //   599: {
        //     slidesPerView: 2.8,
        //     spaceBetween: 20,
        //   },
        //   // when window width is >= 768px
        //   789: {
        //     slidesPerView: 3.6,
        //     spaceBetween: 20,
        //   },
        //   // when window width is >= 1024px
        //   1004: {
        //     slidesPerView: 4.2,
        //     spaceBetween: 30,
        //   },
        //   // when window width is >= 1280px
        //   1260: {
        //     slidesPerView: 4.2,
        //     spaceBetween: 30,
        //   },
        //   // when window width is >= 1440px
        //   1440: {
        //     slidesPerView: 4.2,
        //     spaceBetween: 30,
        //   },
        // },
      },
    };
  },
  computed: {
    ...mapGetters(["listProduct", "listCategory", "detailProduct"]),
  },
  methods: {
    ...mapActions(["fetchProductList", "fetchDetailProduct", "fetchCategoryList"]),
    async FetchData() {
      try {
        await this.fetchProductList();
        await this.fetchDetailProduct({ id: this.$route.params.id });
        await this.fetchCategoryList();
      } catch (error) {
        console.error(error);
      }
    },
  },
  async mounted() {
    await this.FetchData();
    if (this.detailProduct.main_image) {
      this.detailImg = [
        ...this.detailProduct.main_image,
        ...(this.detailProduct && this.detailProduct.images),
      ];
    }

    this.query_array = this.listProduct.filter(
      (item) => item.category._id == this.detailProduct.category
    );
    console.log(this.query_array);
  },
};
</script>

<style lang="scss">
@import "../../assets/styles/product.scss";
</style>
