body{
	color: $black;
	font-family: 'Montserrat', sans-serif;
	background: $white;
}

.container{
	// position: relative;
	width: 100%;
	max-width: $xxl;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}