// container breakpoints

$xxl: 1440px;
$xl: 1260px;
$lg: 1000px;
$md: 790px;
$sm: 600px;
$xs: 400px;

// styles
$font_size: 16px;
$font_weight: 400;

// colors
$white: #ffffff;
$black: #000000;
$brand_color: #0092AD;

// indents