@import "../../assets/styles/components/_mixins.scss";
@import "../../assets/styles/components/_vars.scss";


.sectionTitle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;

  @include xl {
    font-size: 30px;
  }

  @include lg {
    margin-bottom: 26px;
  }
}

.contact_wrapper {
  display: flex;
  background: #DFF1F4;
  margin-bottom: 150px;

  @include xl {}

  @include lg {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .info {
    width: 55%;

    @include xl {
      width: 100%;
    }

    @include lg {
      display: flex;
    }

    @include md {
      display: inline-block;
    }
  }

  .location {
    width: 45%;
    height: 100%;

    @include xl {
      width: 100%;
    }
  }

  .info {

    h1 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 28px;

      @include xl {
        font-size: 22px;
        margin-bottom: 15px;
      }

      @include lg {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    .top {
      padding: 60px 60px 40px 60px;
      border-bottom: 1px solid #000;

      @include xxl {
        padding: 40px;
      }

      // @include xl {
      //   padding: 30px;
      // }

      @include xl {
        padding: 20px;
      }

      @include lg {
        border-bottom: none;
        width: 160%;
      }

      @include md {
        width: 100%;
      }

      p {
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;


        @include xxl {
          font-size: 18px;
          line-height: 24px;
        }

        @include xl {
          font-size: 16px;
          line-height: 22px;
        }

        @include lg {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    .bottom {
      padding: 40px 60px 60px 60px;

      @include xxl {
        padding: 40px;
      }

      @include xxl {
        padding: 30px;
      }

      @include xl {
        padding: 20px;
      }

      .block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }


        @include xl {
          flex-direction: column;
          margin-bottom: 30px;
        }

        @include lg {
          margin-bottom: 15px;
        }

      }

      .street {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 13px;

        @include xxl {
          font-size: 29px;
          line-height: 36px;
        }

        @include xl {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 10px;
        }

        @include lg {
          font-size: 16px;
          margin-bottom: 0px;
          line-height: 1;
          margin-right: 10px; 
        }
      }



      .home {
        font-size: 20px;
        font-weight: 300;
      }


      .block div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        // gap: 20px 45px;

        @include xl {
          height: 70px;
          justify-content: flex-start;
        }

        @include lg {
          height: auto;
        }

        span {
          margin: 0 0 20px 20px;
          font-size: 22px;
          font-weight: 500;

          @include xl {
            font-size: 18px;
            margin: 0 20px 0 0;
          }

          @include lg {
            font-size: 16px;
            margin-bottom: 1px;
            margin-right: 32px;
            margin-bottom: 10px;
          }
        }
      }


      .socialTitile {
        font-size: 20px;
        font-weight: 400;
        margin-top: 40px;
        text-align: center;
      }

      .social_wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 45px;
      }
    }
  }

  .location {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
      border-bottom: 1px solid #000;
      margin-bottom: 24px;

      @include md {
        padding: 10px;
      }

      button {
        font-size: 25px;
        line-height: 30px;
        padding: 15px 30px;
        border-radius: 20px;
        border: 1px solid #0092ad;

        @include xl {
          font-size: 20px;
          padding: 8px 20px;
        }

        @include md {
          font-size: 16px;
          padding: 4px 20px;
        }
      }
    }

    &-body {
      width: 100%;
      height: 610px;

      @include xxl {
        height: 540px;
      }

      @include xl {
        height: 505px;
      }

      @include lg {
        height: 350px;
      }

      iframe {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
      }
    }

  }
}
