@import "../../assets/styles/components/_mixins.scss";
@import "../../assets/styles/components/_vars.scss";

.reviews {

  .section_title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;

    @include xl {
      font-size: 30px;
    }

    @include lg {
      margin-bottom: 26px;
    }
  }
}

.new_product {
  padding-bottom: 100px;

  @include lg {
    padding-bottom: 30px;
  }

  .new_product_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @include lg {
      gap: 20px;
    }
  }
}

.stock {
  margin-bottom: 100px;

  .stock_wrapper {
    display: flex;
    position: relative;

    .swiper_wrapper .swiper-button-prev::after,
    .swiper_wrapper .swiper-button-next::after {
      font-size: 24px;
      padding-top: 3px;
      padding-left: 3px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #000;
      margin: -25px 15px;
      color: #fff;

      &::after {
        font-size: 24px;
      }
    }

    .stock_block {
      height: 300px;
      padding: 40px 120px;
      background: linear-gradient(85.33deg, #36bbc8 0%, #119ab3 100%);
      border-radius: 25px;
      color: #fff;

      .stock_title {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 25px;
      }

      .stock_sub_title {
        width: 605px;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 50px;
        line-height: 30px;
      }

      .stock_btn {
        font-size: 20px;
        font-weight: 600;
        padding: 20px 40px;
        background: #fe752a;
        border-radius: 20px;
      }
    }

    .stock_img {
      position: absolute;
      top: 10px;
      right: 50px;
      z-index: 50;
    }
  }
}

.boards {
  margin-bottom: 100px;

  .boards_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.reviews {
  margin-bottom: 100px;

  @include lg {
    margin-bottom: 60px;
  }

  .swiper_wrapper .swiper-button-prev::after,
  .swiper_wrapper .swiper-button-next::after {
    font-size: 24px;
    padding-top: 3px;
    padding-left: 3px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    margin: -25px 15px;
    color: #fff;

    &::after {
      font-size: 24px;
    }
  }

  .review {
    padding: 40px;
    // width: 680px;
    height: max-content;
    background: #dff1f4;
    border-radius: 20px;

    @include xxl {
      // width: 600px;
      padding: 30px;
    }

    @include xl {
      // width: 355px;
      padding: 15px;
    }

    @include lg {
      // width: 355px;
    }

    @include md {
      // width: 355px;
    }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      @include xl {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
      }

      .name {
        display: flex;
        align-items: center;

        @include xl {
          margin-bottom: 5px;
        }

        h1 {
          font-size: 20px;
          font-weight: 600;
          margin-right: 15px;
          line-height: 24px;

          @include xl {
            font-size: 18px;
            line-height: 20px;

          }
        }

        span {
          font-size: 15px;
          font-weight: 600;
          color: #a1a1a1;
        }
      }

      .review_star {
        display: flex;
        align-items: center;

        i {
          font-size: 20px;
          margin-right: 10px;
          color: #000;

          @include xxl {
            font-size: 14px;
            margin-right: 5px;
          }

          &::after {
            background: #000;
          }
        }
      }
    }

    .reviews_content {
      .review_title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 25px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include xl {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 10px;
        }
      }

      .review_subtitle {
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include xl {
          font-size: 14px;
          line-height: 18px;
        }

        @include lg {}
      }
    }
  }
}
