@import "../styles/components/_vars.scss";
@import "../styles/components/_mixins.scss";


.product_info {
  display: flex;
  gap: 150px;
  min-height: 800px;

  @include xl {
    gap: 30px;
    min-height: max-content;
  }

  @include lg {
    display: inline-block;
  }

  @include sm{
    display: flex;
    flex-direction: column;
  }

  img {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .subtitle {
    font-size: 24px;
    font-weight: 600;
  }

  .images {
    width: 48%;
    // height: 660px; 

    @include xl {
      // height: auto;
    }

    @include lg {
      float: left;
      height: max-content;
      margin-bottom: 20px;
    }

    @include sm{
      width: auto;
    }

    .activeImg {
      width: 100%;
      height: 500px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @include xl {
        height: auto;
      }
    }

    .image_wrapper {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // gap: 40px;
      // margin-bottom: 60px;

      .image {
        height: 200px;
        background: #DFF1F4;
        border-radius: 30px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // z-index: 111;

        &.active {
          border: 3px solid #5ee7ff;
        }

        @include xl {
          height: 140px;
          padding: 10px;
        }

        @include lg {
          height: 80px;
          border-radius: 14px;
        }
      }
    }

    .customer_reviews {

      .top_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }

      i {
        font-size: 18px;
        color: #3FC2CD;
      }

      .reviews_length {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .images_modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;

      .swiper-button-prev,
      .swiper-button-next {
        margin: 0 50px;
        background: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @include lg {
          display: none;
        }
      }

      .imageWrapper {
        height: 85%;

        .imageModal {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          z-index: 9999999;

          img {
            width: auto;
            height: 100%;
            object-fit: cover;
            padding: 50px;
            background-color: #ececec;

            @include lg {
              height: auto;
            }
          }

          .icon-dinkrement {
            position: absolute;
            top: -30px;
            right: -30px;
            font-size: 40px;
          }
        }

      }

    }
  }

  .info {

    .produc_title {
      font-size: 60px;
      font-weight: 700;
      margin-bottom: 30px;

      @include xl {
        font-size: 30px;
        margin-bottom: 20px;
      }

      @include lg {
        font-size: 26px;
        margin-bottom: 10px;
      }
    }

    .produc_price {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 30px;

      @include xl {
        margin-bottom: 10px;
      }

      @include lg {
        margin-bottom: 0;
      }

      .newPrice {
        font-size: 35px;
        font-weight: 700;
        color: #FE752A;

        @include xl {
          font-size: 28px;
        }

        @include lg {
          font-size: 26px;
        }
      }

      .oldPrice {
        font-size: 20px;
        font-weight: 600;
        color: #6a6a6a;
        text-decoration: line-through;
        color: #A2A2A2;

        @include xl {
          font-size: 16px;
        }

        @include lg {
          font-size: 14px;
        }
      }
    }

    .product_characteristics {
      margin-bottom: 30px;

      @include xl {
        margin-bottom: 25px;
      }

      @include lg {
        margin-bottom: 15px;
      }

      .item {
        font-size: 20px;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @include xl {
          font-size: 16px;
          margin-bottom: 10px;
        }

        @include lg {
          font-size: 14px;
          margin-bottom: 6px;
        }

        .name {
          color: #0092AD;
        }
      }
    }

    // .colors{
    //   display: flex;
    //   align-items: center;
    //   gap: 20px;
    //   margin-bottom: 30px;
    //   .color{
    //     position: relative;
    //     width: 35px;
    //     height: 35px;
    //     border-radius: 50%;
    //     cursor: pointer;

    //     &.active::before{
    //       content: '';
    //       position: absolute;
    //       top: 27%;
    //       left: 27%;
    //       width: 45%;
    //       height: 45%;
    //       background: #fff;
    //       border-radius: 50%;
    //     }
    //   }
    // }

    // .diameters{
    //   display: flex;
    //   align-items: center;
    //   gap: 25px;
    //   margin-bottom: 40px;
    //   .diameter{
    //     padding: 3px 10px;
    //     font-size: 20px;
    //     font-weight: 400;
    //     cursor: pointer;

    //     &.active{
    //       border: 1px solid #0092AD;
    //       color: #0092AD;
    //       border-radius: 7px;
    //     }
    //   }
    // }

    // .sale{
    //   display: flex;
    //   gap: 40px;
    //   margin-bottom: 50px;

    //   .btn_sale{
    //     padding: 20px 25px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     gap: 10px;
    //     border: 1px solid #0092AD;
    //     color: #0092AD;
    //     font-size: 20px;
    //     font-weight: 700;
    //     border-radius: 20px;
    //   }

    //   .sale_number{
    //     display: flex;
    //     align-items: center;
    //     gap: 30px;
    //     .minus,
    //     .plus{
    //       font-size: 50px;
    //       font-weight: 600;
    //       cursor: pointer;
    //     }
    //   }
    //   .number{
    //     font-size: 30px;
    //     font-weight: 800;
    //   }
    // }

    .description {
      margin-bottom: 30px;

      @include xl {
        margin-bottom: 10px;
      }

      h1 {
        margin-bottom: 20px;

        @include lg {
          font-size: 22px;
          margin-bottom: 5px;
        }
      }

      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;

        @include xl {
          font-size: 14px;
          line-height: 20px;
        }

        @include lg {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

}

.similar_products {
  margin-top: 50px;
  margin-bottom: 150px;

  @include lg {
    margin-bottom: 50px;
  }

  .product_wrapper {
    display: flex;
    gap: 40px;
  }

  h1.section_title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;

    @include xl {
      font-size: 30px;
    }
  }
}

.swiper-slide {
  overflow: hidden;
}
