<template>
  <div class="container">
    <HomeSlider />
    <section class="new_product">
      <div class="new_product_wrapper">
        <client-only>
          <LayoutsCatalogWrapper
            :options="swiperProducts"
            v-for="catalog in listCategory"
            :key="catalog._id"
            :value="catalog"
          />
        </client-only>
      </div>
    </section>
    <section class="reviews">
      <h1 class="section_title">{{ $t("Reviews") }}</h1>
      <div class="reviews_wrapper"></div>
      <client-only>
        <swiper :options="swiperReviews">
          <swiper-slide v-for="review in reviews" :key="review.id">
            <div class="review">
              <div class="top">
                <div class="name">
                  <h1>{{ review.reviewsNmae }}</h1>
                  <span>{{ review.reviewsDate }}</span>
                </div>
                <div class="review_star">
                  <i class="icon-otziv"></i><i class="icon-otziv"></i
                  ><i class="icon-otziv"></i><i class="icon-otziv"></i
                  ><i class="icon-otziv"></i>
                </div>
              </div>
              <div class="reviews_content">
                <h1 class="review_title">{{ review.reviewsTitle }}</h1>
                <p class="review_subtitle">
                  {{ review.reviewsSubtitle }}
                </p>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </client-only>
    </section>
    lang
    <pre>{{ listLang }}</pre>
    <br /><br /><br /><br /><br />
    product
    <pre>{{ listProduct }}</pre>
    <br /><br /><br /><br /><br />
    category
    <pre>{{ listCategory }}</pre>
    <br /><br /><br /><br /><br />
    detail
    <pre>{{ detailProduct }}</pre>
    <section>
      <!-- <aboutUs/> -->
    </section>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import reviews from "../frags/reviews.js";
// import catalog_array from "../frags/catalogArr.js";
import "swiper/css/swiper.min.css";
export default {
  data() {
    return {
      // catalogs: catalog_array,
      // product_array: product_array,
      reviews: reviews,
      swiperProducts: {
        slidesPerView: 4.1,
        spaceBetween: 20,
        // loop: true,
        // autoplay: {
        //   delay: 3000,
        // },
      },
      swiperReviews: {
        slidesPerView: 2,
        loopFillGroupWithBlank: true,
        spaceBetween: 20,
        // loop: true,
        // autoplay: {
        //   delay: 3000,
        // },

        breakpoints: {
          // when window width is >= 0px
          0: {
            slidesPerView: 1.1,
            spaceBetween: 10,
          },
          // when window width is >= 760px
          760: {
            slidesPerView: 2.2,
            spaceBetween: 20,
          },
        },
      },
    };
  },
  computed: {
    ...mapGetters(["listLang", "listProduct", "listCategory", "detailProduct"]),
  },
  methods: {
    ...mapActions([
      "fetchLangList",
      "fetchProductList",
      "fetchDetailProduct",
      "fetchCategoryList",
    ]),
    async FetchData() {
      try {
        await this.fetchLangList();
        await this.fetchProductList();
        await this.fetchDetailProduct({ id: "63a18c12f5eeca38a93048e0" });
        await this.fetchCategoryList();
      } catch (error) {
        console.error(error);
      }
    },
  },
  async mounted() {
    await this.FetchData();
  },
};
</script>

<style lang="scss">
@import "../assets/styles/home.scss";
</style>
