<template>
  <nuxt-link
    :to="localePath(`/product/${value._id}`)"
    class="product_card"
    v-if="value.is_active"
  >
    <div class="product_img">
      <img :src="value.main_image" :alt="value.name | title" />
      <div class="product_status prod_new" v-if="value.is_new">Новинка</div>
      <div class="product_status prod_stock" v-if="value.is_promotion">Акция</div>
    </div>
    <div class="product_title">
      <div class="category">
        <p class="category_title">{{ value.category.name | title }}</p>
        <span class="status statusNo" v-if="value.in_stock">Есть в наличии</span>
        <span class="status statusYes" v-if="!value.in_stock">Нет в наличии</span>
      </div>
      <div class="prod_name">
        <h1>{{ value.name | title }}</h1>
      </div>
      <div class="prod_price">
        <div class="newPrice">{{ value.current_price }} <span>сум</span></div>
        <div class="oldPrice">{{ value.price }} <span>сум</span></div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  methods: {},
};
</script>

<style lang="scss">
@import "../../assets/styles/components/_vars.scss";
@import "../../assets/styles/components/_mixins.scss";

.product_card {
  width: 100%;
  max-width: 310px;

  @include xxl {
    max-width: 300px;
  }

  @include xl {
    max-width: 230px;
  }

  @include lg {
    max-width: 207px;
  }

  .product_img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    border-radius: 40px;
    background: #dff1f4;
    margin-bottom: 15px;

    @include xl {
      height: 200px;
      border-radius: 15px;
    }

    img {
      width: auto;
      height: auto;
      object-fit: cover;

      @include xl {
        width: 135px;
      }
    }

    .product_status {
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 10px 60px 10px 10px;
      font-weight: 700;
      background: #366d9e;

      @include xl {
        border-radius: 0px 15px 0px 15px;
        font-size: 12px;
        width: 80px;
        height: 30px;
      }

      &.prod_new {
        background: #ef810c;
      }
    }
  }

  .product_title {
    .category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .status {
        font-size: 15px;
        font-weight: 700;
        color: #ff0000;

        @include xl {
          font-size: 11px;
        }

        @include lg {
          font-size: 10px;
        }

        &.statusNo {
          color: #366d9e;
        }
      }

      .category_title {
        font-size: 15px;
        color: #a1a1a1;
        font-weight: 400;

        @include xl {
          font-size: 14px;
        }

        @include lg {
          font-size: 10px;
        }
      }

      i {
        font-size: 15px;
        color: #3fc2cd;
      }
    }

    .prod_name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      @include xl {
        margin-bottom: 5px;
      }

      h1 {
        font-size: 25px;
        font-weight: 600;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include xxl {
          font-size: 24px;
        }
        @include lg {
          font-size: 22px;
        }
      }
    }

    .prod_price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include xl {
        flex-direction: column;
        align-items: flex-start;
      }

      .newPrice {
        font-size: 25px;
        font-weight: 700;
        color: #0092ad;

        @include lg {
          font-size: 20px;
        }
        // margin-bottom: 0;

        // span{
        //   font-size: 15px;
        //   font-weight: 600;
        // }

        // @include xxl {
        //   font-size: 22px;
        // }
      }

      .oldPrice {
        font-size: 15px;
        font-weight: 600;
        color: #a1a1a1;
        text-decoration: line-through;

        //         span{
        //   font-size: 12px;
        //   font-weight: 500;
        // }

        // @include xxl {
        //   font-size: 14px;
        // }
      }
    }
  }
}
</style>
