<template>
  <div class="catalog_wrapper">
    <div class="catalog_title">
      <h1 class="section_title">{{ value.name | title }}</h1>
      <nuxt-link :to="localePath(`/catalog/${value._id}`)">
        <h2>{{ $t("View_all") }}<i class="icon-arrow-up-right2"></i></h2>
      </nuxt-link>
    </div>
    <client-only>
      <swiper :options="swiperProducts">
        <swiper-slide v-for="product in query_array" :key="product.id">
          <!-- <LayoutsCard :prod_img="product.images[0]" :prod_name="product.name" :status_new="product.status"
          :category="product.category" :prod_status="product.prod_status" :prod_price_new="product.price"
          :prod_price_old="product.oldPrice" :reviews="product.reviews" :slug="product.id" :statusNo="product.statusNo"
          :statusYes="product.statusYes" :prod_new="product.prod_new" :prod_stock="product.prod_stock" /> -->
          <LayoutsCard :value="product" />
        </swiper-slide>
      </swiper>
    </client-only>
    <pre>
        {{ query_array }}
    </pre>
  </div>
</template>

<script>
import product_array from "../../frags/productMin.js";
import { mapGetters, mapActions } from "vuex";

export default {
  props: {
    value: {
      type: Object,
    },
  },
  data() {
    return {
      product_array,
      swiperProducts: {
        slidesPerView: 4.2,
        loopFillGroupWithBlank: true,
        spaceBetween: 50,
        // loop: true,
        // autoplay: {
        //   delay: 3000,
        // },

        breakpoints: {
          // when window width is >= 0px
          0: {
            slidesPerView: 1.2,
            spaceBetween: 50,
          },
          // when window width is >= 320px
          320: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          // when window width is >= 480px
          599: {
            slidesPerView: 2.8,
            spaceBetween: 20,
          },
          // when window width is >= 768px
          789: {
            slidesPerView: 3.6,
            spaceBetween: 20,
          },
          // when window width is >= 1024px
          1004: {
            slidesPerView: 4.2,
            spaceBetween: 30,
          },
          // when window width is >= 1280px
          1260: {
            slidesPerView: 4.2,
            spaceBetween: 30,
          },
          // when window width is >= 1440px
          1440: {
            slidesPerView: 4.2,
            spaceBetween: 30,
          },
        },
      },
    };
  },

  computed: {
    ...mapGetters(["listProduct"]),
    query_array() {
      return this.listProduct.filter((item) => item.category._id === this.value._id);
    },
  },
  methods: {
    ...mapActions(["fetchProductList"]),
    async FetchData() {
      try {
        await this.fetchProductList();
      } catch (error) {
        console.error(error);
      }
    },
  },
  async mounted() {
    await this.FetchData();
  },
};
</script>

<style lang="scss">
@import "~/assets/styles/components/_vars.scss";
@import "~/assets/styles/components/_mixins.scss";

.catalog_wrapper {
  margin-bottom: 40px;
  width: 100%;

  .catalog_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @include xl {
      margin-bottom: 30px;
    }

    .section_title {
      font-size: 50px;
      font-weight: 700;

      @include xl {
        font-size: 30px;
      }

      @include lg {
        font-size: 24px;
      }
    }

    h2 {
      font-size: 18px;
      color: #8c8c8c;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @include lg {
        font-size: 14px;
        gap: 0;
      }

      &:hover {
        color: #366d9e;
      }

      i {
        transform: rotate(45deg);
        margin-left: 10px;
        font-size: 20px;

        @include lg {
          font-size: 16px;
        }
      }
    }
  }
}
</style>
