<template>
  <footer class="footer">
    <div class="container">
      <div class="wrapper">
        <nuxt-link :to="localePath(`/`)">
                  <div class="site_logo">
          <img src="../../assets/images/svg/Site_brend.png" alt="" />
          <img src="../../assets/images/svg/Site_brend2.png" alt="" />

        </div>
        </nuxt-link>
        <div class="column_wrapper">
                  <div class="menu">
          <h1 class="foo_title">Магазин</h1>
          <ul class="foo_menu_list">
            <li class="foo_item"><nuxt-link :to="localePath(`/`)">Главная</nuxt-link></li>
            <li class="foo_item"><nuxt-link :to="localePath(`/catalog`)">Каталог</nuxt-link></li>
          </ul>
        </div>
        <div class="product">
          <h1 class="foo_title">{{$t("Category")}}</h1>
          <ul class="foo_product_list">
            <!-- <li class="foo_item" v-for="catalog in catalogArr" :key="catalog.catalog_id">{{catalog.catalogName[$i18n.locale]}}</li> -->
            <li class="foo_item" v-for="catalog in catalogArr" :key="catalog.catalog_id"><nuxt-link :to="localePath(`/catalog/${catalog.catalog_id}`)">{{catalog.catalogName[$i18n.locale]}}</nuxt-link></li>

          </ul>
        </div>
        <div class="contact">
          <h1 class="foo_title">{{$t("Contacts")}}</h1>
          <ul class="foo_contact_list">
            <li class="foo_item"><a href="tel:+998787770890">+998 (78) 777-08-90</a></li>
            <li class="foo_item"><a href="tel:+998787770890">+998 (78) 777-08-90</a></li>
            <li class="foo_item"><a href="mailto:insertemailhere@xyz.com" target="_blank">Sprinter.uz.@gmail.com</a></li>
            <li class="foo_item"><a href="https://goo.gl/maps/8dtRh7DYAGXPtiAw5">Ул.КараСарай 7, ориентир медресе ХастиИмом</a></li>
          </ul>
        </div>
        <div class="social">
          <h1 class="foo_title">{{$t("Our_social_networks")}}</h1>
          <ul class="foo_social_list">
            <li class="foo_item">
              <a href="#" target="_blank">
                <img src="../../assets/images/svg/facebook.svg" />
                <span>Facebook</span>
              </a>
            </li>

            <li class="foo_item">
              <a href="#" target="_blank">
                <img src="../../assets/images/svg/telegram.svg" />
                <span>Telegram</span>
              </a>
            </li>

            <li class="foo_item">
              <nuxt-link :to="localePath(`/`)" target="_blank">
                <img src="../../assets/images/svg/instagram.svg" />
                <span>Instagram</span>
              </nuxt-link>
            </li>
          </ul>
        </div>
        </div>

      </div>
    </div>
  </footer>
</template>

<script>
import catalogArr from '../../frags/catalogArr'
export default {
  data() {
    return {
      catalogArr: catalogArr
    }
  },
};
</script>

<style lang="scss">
@import "./Footer.scss";
</style>