@import '../../assets/styles/components/vars.scss';
@import '../../assets/styles/components/_mixins.scss';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  background: #ECF7F8;

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include xl {
      flex-direction: column;
    }

    .column_wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      flex-wrap: wrap;

      div {
        @include md{
          width: 47%;
          margin-right: 10px;
        }
      }
    }

    .site_logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 200px;
        height: auto;
      }
    }


    .foo_title {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;

      @include xl {
        font-size: 24px;
      }

      @include lg {
        font-size: 16px;
      }
    }

    .foo_item {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 20px;
      max-width: 288px;

      @include xl {
        font-size: 16px;
        max-width: 185px;
      }

      @include md {
        font-size: 15px;
      }

      a {
        display: flex;
        align-items: center;

        &:hover {
          color: #0092ad;
        }
      }

      cursor: pointer;

      &:hover {
        color: #0092ad;
      }

      img {
        margin-right: 10px;

        @include lg {
          height: 28px;
        }
      }
    }
  }

}
