@import "../../assets/styles/components/_vars.scss";
@import "../../assets/styles/components/_mixins.scss";

header {
  padding-bottom: 100px;

  @include xl {
    padding-bottom: 50px;
  }

  @include lg {
    padding-bottom: 20px;
  }

  @include sm {
    padding-bottom: 15px;
  }

  .header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;


    @include md {
      min-height: 55px;
    }
    
    @include sm {
      margin: 10px 0;
    }

    .logo {
      cursor: pointer;
      top: 18px;
      width: 180px;
      z-index: 999999;
      display: flex;
      align-items: center;
      gap: 10px;

      @include lg {
        width: auto;
      }

      @include md {
        position: absolute;
      }

      img {
        width: 100%;
        height: 70px;

        @include lg {
          width: auto;
          height: 55px;
        }

        @include sm {
          height: 48px;
        }
      }
    }



    .item_res_wrapper {
      width: 100%;
      max-height: 70vh;
      overflow-y: scroll;
      padding: 10px;

      a {
        width: 100%;
      }
    }

    .search_modal {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;



      .search_res {
        position: relative;
        width: 680px;
        background: #DFF1F4;
        border-radius: 50px;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 99999999;

        .icon-dinkrement {
          position: absolute;
          top: -40px;
          right: -40px;
          font-size: 40px;
          color: #366d9e;
          cursor: pointer;
        }

        .modal_search {
          display: flex;
          width: 100%;
          height: 60px;
          background-color: #d1dbdc;
          padding: 15px 30px;
          margin-bottom: 30px;
          border-radius: 30px;
          font-size: 28px;
          border: none;
          outline: none;

          input {
            font-size: 22px;
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            margin-right: 10px;
          }
        }


        .item {
          width: 100%;
          display: flex;
          align-items: center;
          background-color: #ffff;
          border-radius: 0 30px;
          padding: 15px 25px;
          margin-bottom: 20px;
          outline: 2px solid #f00;

          .item_img {
            // width: 60px;
            height: 70px;
            margin-right: 20px;

            img {
              width: 100%;
              height: 100%;
            }

          }

          .item_info {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
          }

          .info_top,
          .info_bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .info_top {
            h3 {
              font-size: 26px;
            }

            h4 {
              color: #fff;
              padding: 7px 14px;
              background-color: #f00;
              border-radius: 0px 14px;
            }
          }

          .info_bottom {
            h3 {
              color: #366d9e;
              font-size: 23px;
            }

            h4 {
              text-decoration: line-through;
              color: #a1a1a1;
              font-size: 15px;
            }
          }
        }
      }
    }

    .back_call_wrapper {
      display: flex;
      align-items: center;
      gap: 50px;

      @include xl {
        gap: 36px;
      }

      .back_call {
        display: flex;
        align-items: center;
        padding: 10px 30px;
        border-radius: 30px;
        border: 3px solid #366d9e;
        cursor: pointer;

        @include xl {
          padding: 10px 20px;
        }

        @include lg {
          display: none;
        }

        span {
          font-size: 20px;
          font-weight: 400;
          color: #366d9e;
        }
      }


      .burger-btn {
        svg {
          width: 30px;
          height: 23px;

          @include sm {
            width: auto;
            height: 20px;
          }
        }
      }
    }



    .phone_number {
      font-size: 25px;
      font-weight: 400;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: #366d9e;
      }

      @include lg {
        font-size: 22px;
      }

      @include sm {
        display: none;
      }
    }

    .back_call_modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;

      .modal_card {
        position: relative;
        width: 680px;
        background: #DFF1F4;
        border-radius: 50px;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .closeCard {
          position: absolute;
          top: -50px;
          right: -50px;
          font-size: 50px;
          color: #366d9e;
          cursor: pointer;
        }

        .phoneModal,
        .contactModal {
          width: 100%;
          height: 60px;
          background-color: #d1dbdc;
          padding: 15px 30px;
          margin-bottom: 30px;
          border-radius: 30px;
          font-size: 28px;
          border: none;
          outline: none;

          &::placeholder {
            font-size: 25px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            color: #000;
          }

        }

        .btnModal {
          padding: 20px 70px;
          background: #3FC2CD;
          border-radius: 20px;
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
        }

        .back_call_modal_title {
          align-items: start;
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 30px;
        }

        .back_call_modal_text {
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 20px;
        }

        .back_call_modal_input {
          width: 100%;
          height: 50px;
          border-radius: 30px;
          border: 3px solid #366d9e;
          padding: 0 25px;
          margin-bottom: 30px;
          font-size: 20px;
          font-weight: 400;
        }

        .back_call_modal_button {
          width: 100%;
          height: 50px;
          border-radius: 30px;
          border: 3px solid #366d9e;
          background-color: #366d9e;
          color: #fff;
          font-size: 20px;
          font-weight: 400;
          cursor: pointer;
        }
      }

    }
  }

  .header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      ul.manu_list {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 0 !important;

        @include sm {
          width: 200px;
          position: absolute;
          padding-top: 75px;
          top: 0;
          left: 0;
          height: 100vh;
          background-color: #dff1f4;
          flex-direction: column;
          // gap: 20px;
          transform: translateX(-110%);
          transition: 0.5s ease-in-out;
          z-index: 999;

          &.active {
            transform: translateX(0);
          }
        }

        li.menu_item {
          font-size: 25px;
          font-weight: 400;
          margin-right: 30px;
          cursor: pointer;
          letter-spacing: 2px;

          @include lg {
            margin-right: 20px;
            margin: 0;
            font-size: 20px;
          }

        }

        .nuxt-link-exact-active.nuxt-link-active {
          color: #366d9e;
        }
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 50px;

      @include md {
        gap: 30px;
      }

      .language {
        ul {
          display: flex;
          gap: 10px;
          margin-bottom: 0 !important;

          .lang a {
            font-size: 25px;
            font-weight: 500;
            cursor: pointer;
            color: #a2a2a2;

            // &._active {
            //   color: #3FC2CD;
            // }
            @include lg {
              font-size: 20px;
            }

            @include sm {
              font-size: 18px;
            }
          }
        }
      }

      .search {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #E1E1E1;
        justify-content: center;
        border-radius: 50%;
        // padding: 15px 25px;
        cursor: pointer;
        transition: 0.5s;

        @include lg {
          width: 40px;
          height: 40px;
        }

        @include sm {
          width: 35px;
          height: 35px;
        }

        &:hover {
          color: #366d9e;
          background-color: transparent;
          border: 1px solid #366d9e;
        }

        i.icon-search {
          font-size: 25px;
          // margin-right: 10px;

          @include lg {
            font-size: 20px;
          }

          @include sm {
            font-size: 18px;
          }
        }
      }
    }
  }
}
